#login {
  display:flex;
  flex-direction: row;
  
  
}
#logform {
  display:flex;
  width: 620px;
  height: 460px;
  border: 2px solid black;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  background-color: lightblue;
  flex-direction: column;
}
#regform {
  display:flex;
  width: 620px;
  height: 460px;
  border: 2px solid black;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  background-color: lightblue;
  flex-direction: column;
} 
  #logintitle {
    color:blue;
    font-size: 40px;
  }

  #registertitle {
    color: blue;
    font-size: 40px;
  }

#divspace {
  writing-mode: vertical-lr;
  text-orientation: upright;
  width: 100px;
  height: 100px;
}

#login-form {
  display:flex;
  flex-direction: column;
  width: 200px;
  height:300px;
  justify-content: space-around;
}

#register-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  height:300px;
  justify-content: space-around;
  
}

#spaceleft {
  width: 13px;
}
#spaceright {
  width: 13px;
}

#create {
  display:flex;
  border: 2px solid black;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

#log {
  display:flex;
  border: 2px solid black;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

#regformborder {
  display: flex;
  border: 5px solid darkcyan;
  border-radius: 25px;
  width: 260px;
  height: 330px;
  justify-content: center;
  align-items: center;
}

#logformborder {
  display: flex;
  border: 5px solid darkcyan;
  border-radius: 25px;
  width: 260px;
  height: 330px;
  justify-content: center;
  align-items: center;
}

#submit2 {
  display: flex;
  justify-content: center;
  width: 200px;
}

#submit1 {
  display: flex;
  justify-content: center;
  width: 200px;
}
.hiddenL
{
    display: none;
}
.showL
{
  color: red;
    display: initial;
}
.hiddenR
{
    display: none;
}
.showR
{
  color: red;
    display: initial;
}