#menu {
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  color: white;
}
#kwitterhead {
  color: white;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* #kwitter {
  display: inline-flex;
  font-size: 50px;
  color:whitesmoke;
  margin-left: 590px;
} */