.choose 
{
    position: relative;
    top: 10px;
    left: 35px;
}

.move 
{
    position: relative;
    top: 10px;
    right: 35px
}

.scrollBox
{
    background-color: rgb(181, 185, 185);
    height: 250px;
    width: 900px;
    overflow: hidden;
    overflow-y: scroll;
}

img 
{
    border-radius: 50%;
}

.hidden
{
    display: none;
}

.show
{
    display: initial;
}

#bigsplit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 550px;
}
#image2 {
    height: 300px;
    border-radius: 30px;
}
h2 {
    color: blue;
}

#photo {
    border: 5px solid lightslategrey;
    border-radius: 10px;
    justify-content: center;
    align-content: space-around;
    height: 150px;
}
#user {
    border: 5px solid lightslategrey;
    border-radius: 10px;
    justify-content: center;
    align-content: space-around;
    height: 220px;
}
