#div1 {
    height: 56px;

}
#homediv {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 50px;
}
#plat {
    margin-top: 20px;
}